body{
    background-color: #e8ddcb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header{
    justify-content: space-around;
    display: flex;
    font-size: 30px;
    background-color: #152822;

}
.logo{
    width: 150px;
}
.user{
    width: 60px;
}
.carrito{
    width: 60px;
}
.main{
    justify-content: space-evenly;
    margin-top: 50px;
}
.main > span{
   padding: 30px;
}
.userCarrito{
    margin-top: 50px;
    margin-left: 20px;
    width: 10%;
    display: flex;

}

footer{
    bottom: 0;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background-color: #152822;
    padding: 30px;
    width: 100%;
}


footer >.datosfoot{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer >.datosfoot>div{
    padding: 30px 50px 50px;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    width: 20%;
}




