body {
    background-color: #e8ddcb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header {
    justify-content: space-around;
    display: flex;
    font-size: 30px;
    background-color: #152822;
}


.logoAbuela {
    width: 150px;
    height: 150px;
}

.abuela {
    justify-content: center;
    display: flex;
}

.contenedorLogos {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.logos {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
}

.logoRRSS {
    width: 45px;
    height: 45px;
    position: relative;
    clear: right;
    box-sizing: border-box;
}

.user {
    width: 60px;
}

.carrito {
    width: 60px;
}

.main {
    justify-content: space-evenly;
    margin-top: 50px;
}

.main>span {
    padding: 20px;
    text-decoration: underline transparent;
    /* Define la duración de la transición y la función de temporización */
    transition: text-decoration-color 0.5s ease;
}

.main>span:hover {
    text-decoration-color: lightblue;
}


.userCarrito {
    margin-top: 50px;
    margin-left: 20px;
    width: 10%;
    display: flex;
}


.mainContent>p {
    font-size: 5em;
    box-sizing: border-box;
    overflow: hidden;
}

footer {
    display: flex;
    box-sizing: border-box;
    background-color: #152822;
    padding: 30px;
    width: 100%;
}


footer>.datosfoot {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

footer>.datosfoot>div {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}


.datosfoot li {
    list-style: none;
    padding-bottom: 10px;
}




.cookies {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    color: black;
}

.mainContent{
    margin: 30px 100px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.presentacion{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.presentacion > div{
    display: flex;
    text-align: left;
    width: 200px;
}

.imgPrincipal img {
    width: 100%;
    height: auto; /* Esto permite que la altura se ajuste proporcionalmente al ancho */
    display: block; /* Elimina el espacio adicional por defecto que tienen las imágenes */
    border-radius: 10%;
  }




/*Pititi es del atleti oleeee*/
/*cobri es del beti oleeee*/
/*JM es del Sevilla oleeee*/